.fontSelect{
  display: block !important;
  border-radius: 5px;
  border: 1px solid #9C9C9C;
  width: 217px;
  height: 36px;
  color: #2D2D2D;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.custom-select {
  border: 0px;
}
.sidebar_menu li:last-child {
  top: 0px; 
}
.sidebar_menu_section {
  padding-top: 0px;
}
.right_wrapper {
  top: 0px; 
}
.right_wrapper_conntaine{
  padding-bottom: 30%; 
}